/* ==== GENERAL STYLES ==== */

* {
    box-sizing: border-box;
  }
  
  
  
  /* ==== LAYOUT STYLES ==== */
  
  h1,h2,h3,ul,ol,p,img {
    margin-bottom: 1.5rem;
  }
  
  .together, .program, .gifts, .LW, .acknowledgement {
    width: 95%;
    margin: 1.5rem auto;
    padding: .5rem 1rem;
    text-align: center;
  }
  
  
  body {
    background: url('https://raw.githubusercomtent.com/Dokovic/2022-Class-8/main/src/cover.png') repeat center;
    font-family: 'MV Boli', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  h1, h2 {
    font-family: 'Comic Sans MS', cursive;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h1 {
    color: #d2ba87;
  }
  
  img:hover {
    transform: scale(1.2);
    transition: all 0.8s ease-in-out;
  }  
  
  
  
  /* === HEADER STYLES === */
  .cover {
    background: url('https://raw.githubusercontent.com/Dokovic/2022-Class-8/main/src/logo.png') no-repeat 70% center;
    background-size: cover;
    display: table;
    text-align: center;
    height: 100vh;
    width: 100%;
  }
  
  .cover-text-wrapper {
    height:40vh;
    margin-top: 18rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .cover-text {
    margin: 0 auto;
    padding: 1.25rem;
    color: #fff9ff;
    color: hsla(0,0%,100%,.9);
    background: #000000;
    background: hsla(100,0%,0%,.5);
    height: 11rem;
    text-align: center;
  }
  
  .tagline {
    text-transform: uppercase;
    letter-spacing: .1668rem;
    font-size: .8rem;
  }
  
  .tagline::after {
    display: block;
    content: "";
    border-top: 1px solid #fff9ff;
    width: 12.52rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: .48rem;
  }
  
  h1 {
    font-size: 3.15rem;
    padding-top: .5rem;
  }
  
  .date {
    font-family:Comic Sans MS;
    color: #d2ba87;
    font-size: 1.5rem;
    letter-spacing: 2.4px;
    position: relative;
    top: -1rem;
    vertical-align: middle;
  }
  
  .date::before {
    content: "";
    clear: both;
    display: inline-block;
    background-color: #fff9ff;
    height: 1px;
    width: 1.5rem;
    vertical-align: middle;
    margin: 0 .5rem;
    margin-top: -.1rem;
  }
  
  .date::after {
    content: "";
    clear: both;
    display: inline-block;
    background-color: #fff9ff;
    height: 1px;
    width: 1.5rem;
    vertical-align: middle;
    margin: 0 .5rem;
    margin-top: -.1rem;
  }
  
  
  /* === TOGETHER STYLES === */
  .together {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
  }
  
  .blurb div {
    font-family: '楷体', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
  }
  
  .blurb h3 {
    font-weight: 700;
  }
  
  .blurb img {
    height: 7.5rem;
  }
  
  .blurb::after {
    content: "";
    clear: both;
    display: inline-block;
    background-color: #444349;
    height: .19rem;
    width: 7rem;
    vertical-align: middle;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
  }
  
  
  
  /* === PROGRAM STYLES === */
 .program {
    height: 50vh;
    background-color: #214480;
    background-image: linear-gradient(#214480,#4682B4);
  }
  
  .program-wrapper {
    text-align: left;
    font-family: '楷体', sans-serif;
  }
  
  .program p {
    font-style: italic;
    font-size: 1.4rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .program h2 {
    color: #ffffff;
    margin-top: 1.25rem;
  }
  
  .program ul {
    letter-spacing: .06rem;
    font-weight: 700;
    color: #ffffff;
  }
  
  
  
  /* === GIFTS STYLES === */
  
  .gifts img {
    height: 7rem;
  }
  
  .gifts p:last-child {   /* To even out the bottom and top margins of this section. */
    margin-bottom: 0;
  }
  
  .gifts p {
    font-weight: 700;
  }
  
  
  
  /* === LW STYLES === */
  
  .LW {
    background: #616161;
    background: hsla(100,0%,0%,.6);
    width: 100%;
    display: table;
    text-align: center;
  }
  
  .wishes h2 {
    margin-top: 1.25rem;
  }
  
  .wishes p {
    font-family: '楷体', sans-serif;
    text-align: left;
  
  }
  
  .wishes {
    font-weight: 700;
    margin-bottom: .5rem;
  }
  
  .wishes {
    margin-bottom: 1.5rem;
    font-weight: 500;
  }
  
  .wishes-group::after {
    content: "";
    display: block;
    height: .19rem;
    width: 12rem;
    margin: 1.5rem auto;
    background-color: #d2ba87;
  }
  
  
  
  /* === FOOTER STYLES === */
  
  footer {
    background: #606060;
    width: 100%;
    height: 10vh;
    text-align: center;
    color: white;
    font-family: 'MV Boli', sans-serif;
    font-size: .9rem;
    display: table;
    letter-spacing: .02rem;
  }
  
  .footer-wrapper {
    vertical-align: middle;
    display: table-cell;
    padding: .5rem 1rem;
  }
  
  footer p {
    margin-bottom: 0;
  }
  
  footer small {
    line-height: 1.5;
  }
  
  .fa {
    color: white;
    font-size: .6rem;
  }
  
  
  
  
  /* === MEDIA QUERIES === */
  
  
  /* HEADER */
  
  @media (min-width: 768px) {
  
    .cover {
      background: url('https://raw.githubusercontent.com/Dokovic/2022-Class-8/main/src/logo.png') no-repeat center;
      background-size: cover;
    }
  
    .cover-text-wrapper {
      width: 49.38rem;
      margin-top: 14.778rem;
    }
  
    .cover-text {
      height: 17.8rem;
    }
  
    .tagline {
      font-size: 1.227rem;
      padding-top: .05rem;
    }
    
    h1 {
      font-size: 7.4rem;
    }
  }
  
  
  /* TOGETHER */
  
  @media (min-width: 768px) {
  
    .blurb {
      display: inline-block;
      padding: 2.2rem;
      padding-right: 7.6rem;
      padding-left: 7.6rem;
    }
    
    .blurb div {
    font-weight: 400;
    }
    
    .blurb::after {
      display: none;
    }
  }
  
  
  /* PROGRAM */
  
  @media (min-width: 768px) {
  
    .program-wrapper {
      text-align: left;
      display: table;
      margin-left: auto;
      margin-right: auto;
    }
  
  }
  
  @media (min-width: 768px) {
  
    .program ul {
      font-weight: 400;
    }
  
    .program p {
      font-weight: 400;
      font-size: 1.4rem;
    }
  
  }
  
  
  /* GIFTS */
  
  @media (min-width: 768px) {
  
    .gifts p {
      font-weight: normal;
    }
  
  }
  
  
  /* LW */
  
  @media (min-width: 768px) {
  
     .wishes-group {
      display: inline-block;
      width: 30%;
      vertical-align: top;
      padding: 1.5rem;
      margin: .7rem;
    }
  
     .wishes-group::after {
      display: none;
    }
  
    .wishes h3 {
      text-align: left;
    }
    
    .wishes{
      font-weight: normal;
    }
  }
  
  
  /* ACKNOWLEDGEMENT */
  
  @media (min-width: 768px) {
  
    a {
      font-weight: normal;
    }
  }
  
